* {
    margin:0;
    padding:0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: azure;
}
body {
    background: url(Images/Sfondo.jpg) center/cover no-repeat;
}

.main {
    width: 100%;
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
    font-family: sans-serif;
}

.info {
    margin-left: 7%;
    margin-top: 20px; 
    color: lightskyblue;
    color: white;          /* testo visibile sullo sfondo */
    display: flex;
    flex-direction: column; /* disposizione verticale */
    gap: 10px;
}

.info h1 {
    font-size: 64px;       /* più grande */
    margin: 0;             /* rimuove margini default */
}

.info h2 {
    font-size: 36px;
    margin: 0;
    color: whitesmoke;
}    

.info p {
    font-size: 20px;
    margin: 0;
}
.info ul {
    padding-top: 20px;
}

.info ul li {
    list-style: none;
    margin-bottom: 10px;
}

.info ul li a {
    display: inline-block;        /* permette padding e sfondo */
    padding: 12px 24px;           /* dimensioni del bottone */
    background-color: #b53389;    /* colore di sfondo */
    color: white;                 /* colore del testo */
    text-decoration: none;        /* rimuove la sottolineatura */
    
    border-radius: 40px;           /* angoli arrotondati */
    font-weight: bold;
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.2s;
}
.info ul li a:hover {
    color: darkblue;
}

.logo {
    width: 150px;   /* larghezza desiderata, ad esempio 80px */
    height: auto;  /* mantiene le propozioni */
    display: block;
}



.navbar {
    width: 86%;
    display: flex;
    margin: auto;
    padding: 50px 0;
    align-items: center;
    justify-content: space-between;
}


.navbar ul li {
    list-style: none;
    display: inline-block;
    padding: 10px 16px;
}

.navbar ul li a {
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    transition: .4s ease;
}

.navbar ul li a:hover {
    color: #b53389;
}



